body{

margin:0;

background:#06111d;

color:white;

font-family:Arial,Helvetica,sans-serif;

}

#dashboard{

display:grid;

grid-template-columns:260px 1fr;

height:100vh;

}

#sidebar{

background:#0b1f34;

padding:40px;

display:flex;

flex-direction:column;

gap:20px;

}

#sidebar h2{

letter-spacing:4px;

font-size:24px;

margin-bottom:30px;

}

#sidebar button{

padding:15px;

background:#17304a;

border:none;

border-radius:12px;

color:white;

cursor:pointer;

font-size:16px;

transition:.3s;

}

#sidebar button:hover{

background:#2898ff;

}

#content{

padding:60px;

overflow:auto;

}